*.o
#*#
*~
.idea
cmake-build-debug
a.out
tests
*.gcno
test_exec
my_cat
*.so
[a-zA-Z0-9]
toto
bomberman
CMakeCache.txt
CMakeFiles
cmake_install.cmake
*.cbp
Makefile
.gui_*
.save.indie./.ntmcs.filelist
./.ntmcs.tmp
reference
test?
test
build/
# Source #
*.o

# CLION INFOS #
*.xml
*.iml
*.txt
cmake-build-debug/*
.idea/fileTemplates/*
# PYCHARM STUFF #
__pycache__
venv
callgrind*
file

